server:
  host: "0.0.0.0"
  port: 44556
  rpc_user: "dogecoinrpc"
  rpc_password: "CHANGE_ME_DOGE"

upstream:
  host: "10.21.0.11"
  port: 22555
  rpc_user: "dogecoinrpc"
  rpc_password: "CHANGE_ME_DOGE"
  timeout: 30

chain:
  name: "dogecoin"
  chain_id: 98
  network_magic: "c0c0c0c0"
